
.banner-section h1 {
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 700;
}
.banner-section p {
  line-height: 1.8;
  color: var(--dark-color);
  max-width: 670px;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-img {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 100vh;
}
.carousel-div {
  margin-top: 100px;
}
.remove-padding {
  padding: 0 !important;
}
.img-src1 {
  background-image: url(./../../Images/BannerImage/main-banner1.jpg);
}
.img-src2 {
  background-image: url(./../../Images/BannerImage/main-banner2.jpg);
}
.img-src3 {
  background-image: url(./../../Images/BannerImage/main-banner3.jpg);
}
@media only screen and (max-width: 992px) {
    .carousel-img{
      width: 100px;
      height: 40vh;
    }
}

@media only screen and (max-width: 768px) {
   .carousel-img{
      height: 30vh;
    }
  .banner-section h1 {
    font-size: 25px;
  }
  .primary-btn {
    padding: 8px 10px 8px 10px;
    font-size: 10px;
  }
  .primary-btn i{
    display: none;
  }
  .secondary-btn {
    padding: 8px 10px 8px 10px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-section h1 {
    font-size: 18px;
  }
  .carousel-img{
      height: 40vh;
    }
  .banner-section p {
    line-height: 1.1;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
